* {
    box-sizing: border-box;
    color: #fff;
    padding: 0;
    margin: 0;
}

.chat {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat__header {
    min-height: 50px;
    background-color: #7da8d3;
}

.chat__container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.chat__leftside {
    width: 200px;
    overflow: scroll;
    background-color: #2b5278;
}

.chat__rightside {
    flex: 1;
    overflow: scroll;
    background-color: #0e1621;
}

.chat__footer {
    min-height: 100px;
    background-color: #242f3d;
}