<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task1</title>
</head>
<body>
    <div class="chat">
        <div class="chat__header"></div>
        <div class="chat__container">
            <div class="chat__leftside">
                {{>'views/lorem-ipsum.hbs'}}
            </div>
            <div class="chat__rightside">
                {{>'views/lorem-ipsum.hbs'}}
            </div>
        </div>
        <div class="chat__footer"></div>
    </div>
</body>
</html>